:root {
    --bs-purple: #6320EE !important;
    --bs-pink: #d63384 !important;
    --bs-yellow: #F9C846 !important;
    --bs-teal: #20c997 !important;
    --bs-cyan: #00E8FC !important;
    --bs-primary: #004BA8 !important;
    --bs-gray: #545863 !important;
    --bs-green: #008148 !important;
    --bs-blue: #000022 !important;
    --bs-orange: #F96E46 !important;
    --bs-red: #EF2917 !important;
    --bs-white: #FBF5F3 !important;
    --bs-black: #212529 !important;

    /* tag's color and hover color */
    --alink-color: #FFFFFC;
    --alink-hover: #afe6de;
}

.bg-purple {
    background-color: var(--bs-purple) !important;
}

.bg-pink {
    background-color: var(--bs-pink) !important;
}

.bg-yellow {
    background-color: var(--bs-yellow) !important;
}

.bg-teal {
    background-color: var(--bs-teal) !important;
}

.bg-cyan {
    background-color: var(--bs-cyan) !important;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.bg-gray {
    background-color: var(--bs-gray) !important;
}

.bg-green {
    background-color: var(--bs-green) !important;
}

.bg-blue {
    background-color: var(--bs-blue) !important;
}

.bg-orange {
    background-color: var(--bs-orange) !important;
}

.bg-red {
    background-color: var(--bs-red) !important;
}

.bg-white {
    background-color: var(--bs-white) !important;
}

.bg-black {
    background-color: var(--bs-black) !important;
}




 /* text colors */


.text-purple {
    color: var(--bs-purple) !important;
}

.text-pink {
    color: var(--bs-pink) !important;
}

.text-yellow {
    color: var(--bs-yellow) !important;
}

.text-teal {
    color: var(--bs-teal) !important;
}

.text-cyan {
    color: var(--bs-cyan) !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.text-gray {
    color: var(--bs-gray) !important;
}

.text-green {
    color: var(--bs-green) !important;
}

.text-blue {
    color: var(--bs-blue) !important;
}

.text-orange {
    color: var(--bs-orange) !important;
}

.text-red {
    color: var(--bs-red) !important;
}

.text-white {
    color: var(--bs-white) !important;
}

.text-black {
    color: var(--bs-black) !important;
}




 /* buttons color */


.btn-purple {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)
}

.btn-purple {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-purple:hover {
    color: white; 
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
}

.btn-pink {
    color: var(--bs-white);
    background-color: var(--bs-pink);
    transition: all .3s ease-in-out;
}
.btn-pink:hover {
    color: var(--bs-white);
    background-color: #c4116a;
    transition: all .3s ease-in-out;
}

.btn-yellow {
    color: var(--bs-white);
    background-color: var(--bs-yellow);
    transition: all .3s ease-in-out;
}
.btn-yellow:hover {
    color: var(--bs-white);
    background-color: #eec042;
    transition: all .3s ease-in-out;
}


.btn-teal {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)
}
.btn-teal {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
    display: block;
    border: none !important;
}

.btn-teal:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.btn-cyan {
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)
}
.btn-cyan {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-cyan:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.btn-primary {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)
}
.btn-primary {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none !important;
}

.btn-primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-gray {
    color: var(--bs-white);
    background-color: var(--bs-gray);
    transition: all .3s ease-in-out;
}
.btn-gray:hover {
    color: var(--bs-white);
    background-color: #4c505a;
    transition: all .3s ease-in-out;
}


.btn-green {
    background-image: linear-gradient(to right, #52c234 0%, #061700  51%, #52c234  100%)
}
.btn-green {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-green:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-blue {
    color: var(--bs-white);
    background-color: var(--bs-blue);
    transition: all .3s ease-in-out;
}
.btn-blue:hover {
    color: var(--bs-white);
    background-color: #09092c;
    transition: all .3s ease-in-out;
}


.btn-orange {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.btn-orange {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    display: block;
}

.btn-orange:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.btn-red {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)
}
.btn-red {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-red:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.btn-white {background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%)}
.btn-white {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    display: block;
}

.btn-white:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}




.btn-black {
    color: var(--bs-white);
    background-color: var(--bs-black);
    transition: all .3s ease-in-out;
}
.btn-black:hover {
    color: var(--bs-white);
    background-color: #191c1f;
    transition: all .3s ease-in-out;
}



.shadow-m-1 {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shadow-m-2 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow-m-3 {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.shadow-m-4 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.shadow-m-5 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.shadow-m-6 {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.shadow-m-7 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.shadow-m-8 {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.shadow-m-9 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.shadow-m-10 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
